* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/caption.jsp -text
WebContent/feeds/aggregated.jsp -text
WebContent/feeds/map_data.jsp -text
WebContent/feeds/ochinLocations.jsp -text
WebContent/feeds/papers.jsp -text
WebContent/feeds/project_roster.jsp -text
WebContent/feeds/siteLocations.jsp -text
WebContent/feeds/siteRoster.jsp -text
WebContent/footer.jsp -text
WebContent/graph_support/site_map.jsp -text
WebContent/graph_support/us-states.json -text
WebContent/head.jsp -text
WebContent/images/favicon.ico -text
WebContent/images/n3c_logo.png -text
WebContent/index.jsp -text
WebContent/index2.jsp -text
WebContent/navbar.jsp -text
WebContent/resources/DataTables/css/dataTables.bootstrap.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.min.css -text
WebContent/resources/DataTables/css/dataTables.bulma.css -text
WebContent/resources/DataTables/css/dataTables.bulma.min.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.min.css -text
WebContent/resources/DataTables/css/dataTables.foundation.css -text
WebContent/resources/DataTables/css/dataTables.foundation.min.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.min.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.min.css -text
WebContent/resources/DataTables/css/jquery.dataTables.css -text
WebContent/resources/DataTables/css/jquery.dataTables.min.css -text
WebContent/resources/DataTables/datatables.min.css -text
WebContent/resources/DataTables/datatables.min.js -text
WebContent/resources/DataTables/images/sort_asc.png -text
WebContent/resources/DataTables/images/sort_asc_disabled.png -text
WebContent/resources/DataTables/images/sort_both.png -text
WebContent/resources/DataTables/images/sort_desc.png -text
WebContent/resources/DataTables/images/sort_desc_disabled.png -text
WebContent/resources/DataTables/js/dataTables.bootstrap.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.min.js -text
WebContent/resources/DataTables/js/dataTables.bulma.js -text
WebContent/resources/DataTables/js/dataTables.bulma.min.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.min.js -text
WebContent/resources/DataTables/js/dataTables.foundation.js -text
WebContent/resources/DataTables/js/dataTables.foundation.min.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.min.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.min.js -text
WebContent/resources/DataTables/js/jquery.dataTables.js -text
WebContent/resources/DataTables/js/jquery.dataTables.min.js -text
WebContent/resources/d3-tip.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/main_style.css -text
WebContent/resources/n3c_login_style.css -text
WebContent/tables/project_roster_styled.jsp -text
WebContent/tables/publications_styled.jsp -text
/pom.xml -text
