* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/rewrite.config -text
WebContent/WEB-INF/web.xml -text
WebContent/admin.jsp -text
WebContent/admin/domain_teams.jsp -text
WebContent/admin/institutions.jsp -text
WebContent/admin/map.jsp -text
WebContent/admin/projects.jsp -text
WebContent/admin/users.jsp -text
WebContent/caption.jsp -text
WebContent/exploration.jsp -text
WebContent/feeds/aggregated.jsp -text
WebContent/feeds/domain_team_roster.jsp -text
WebContent/feeds/embedded_fact_sheet.jsp -text
WebContent/feeds/line_dua_dta_regs.jsp -text
WebContent/feeds/map_data.jsp -text
WebContent/feeds/ochinLocations.jsp -text
WebContent/feeds/papers.jsp -text
WebContent/feeds/positive_cases_by_date.jsp -text
WebContent/feeds/project_challenge_graph.jsp -text
WebContent/feeds/project_challenge_organization_graph.jsp -text
WebContent/feeds/project_graph.jsp -text
WebContent/feeds/project_operational_graph.jsp -text
WebContent/feeds/project_organization_graph.jsp -text
WebContent/feeds/project_roster.jsp -text
WebContent/feeds/publications.jsp -text
WebContent/feeds/questions.jsp -text
WebContent/feeds/reinfections_by_date.jsp -text
WebContent/feeds/siteLocations.jsp -text
WebContent/feeds/siteRoster.jsp -text
WebContent/feeds/us-states.json -text
WebContent/footer.jsp -text
WebContent/graph_support/forcePhoto.jsp -text
WebContent/graph_support/horizontalBarChart_local.jsp -text
WebContent/graph_support/pieChart_local.jsp -text
WebContent/graph_support/site_map.jsp -text
WebContent/graph_support/us-states.json -text
WebContent/graph_support/verticalBarChart_local.jsp -text
WebContent/head.jsp -text
WebContent/images/favicon.ico -text
WebContent/images/icons/admin.png -text
WebContent/images/icons/covid.png -text
WebContent/images/icons/explore.png -text
WebContent/images/icons/health.png -text
WebContent/images/n3c_half.png -text
WebContent/images/n3c_logo.png -text
WebContent/images/spinners/fading_wheel.gif -text
WebContent/images/spinners/fading_wheel.svg -text
WebContent/images/spinners/filling_circles.gif -text
WebContent/images/spinners/gear.gif -text
WebContent/images/spinners/infinity.gif -text
WebContent/images/spinners/mini_balls.gif -text
WebContent/images/spinners/settings.gif -text
WebContent/images/spinners/sun.svg -text
WebContent/images/spotlight_preview.png -text
WebContent/index.jsp -text
WebContent/index2.jsp -text
WebContent/long_covid/data.json -text
WebContent/long_covid/fig4.jsp -text
WebContent/long_covid/table1.html -text
WebContent/long_covid/table2.html -text
WebContent/modules/admin_fact.jsp -text
WebContent/modules/admin_map.jsp -text
WebContent/modules/collaboration_networks.jsp -text
WebContent/modules/domain_team_roster.jsp -text
WebContent/modules/explorer.jsp -text
WebContent/modules/fact_sheet.jsp -text
WebContent/modules/fade_animation_init.jsp -text
WebContent/modules/kpis/covid_first_diagnosis.jsp -text
WebContent/modules/kpis/covid_positive.jsp -text
WebContent/modules/kpis/covid_reinfections.jsp -text
WebContent/modules/line_data_dua.jsp -text
WebContent/modules/line_registrations.jsp -text
WebContent/modules/pediatrics.jsp -text
WebContent/modules/pediatrics_age.jsp -text
WebContent/modules/pediatrics_coinfection.jsp -text
WebContent/modules/pediatrics_geographic.jsp -text
WebContent/modules/pediatrics_severity.jsp -text
WebContent/modules/pieChart_local.jsp -text
WebContent/modules/popover_init.jsp -text
WebContent/modules/positive_cases_by_date.jsp -text
WebContent/modules/positive_timeline.jsp -text
WebContent/modules/project_roster.jsp -text
WebContent/modules/publications.jsp -text
WebContent/modules/questions.jsp -text
WebContent/modules/questions_styled.jsp -text
WebContent/modules/reinfection_timeline.jsp -text
WebContent/modules/reinfections_by_date.jsp -text
WebContent/modules/scroll_down.jsp -text
WebContent/modules/site_map.jsp -text
WebContent/modules/site_map_code.jsp -text
WebContent/modules/time_line_2_column.jsp -text
WebContent/modules/verticalBarChart_local.jsp -text
WebContent/navbar.jsp -text
WebContent/new-ph.jsp -text
WebContent/new_ph/adult_summary/age.jsp -text
WebContent/new_ph/adult_summary/aggregated_feed.jsp -text
WebContent/new_ph/adult_summary/aggregated_table.jsp -text
WebContent/new_ph/adult_summary/ethnicity.jsp -text
WebContent/new_ph/adult_summary/gender.jsp -text
WebContent/new_ph/adult_summary/kpis.jsp -text
WebContent/new_ph/adult_summary/panel.jsp -text
WebContent/new_ph/adult_summary/race.jsp -text
WebContent/new_ph/adult_summary/severity.jsp -text
WebContent/new_ph/block.jsp -text
WebContent/new_ph/delayed_mortality/kpis.jsp -text
WebContent/new_ph/delayed_mortality/panel.jsp -text
WebContent/new_ph/diabetes/kpis.jsp -text
WebContent/new_ph/diabetes/panel.jsp -text
WebContent/new_ph/frame.jsp -text
WebContent/new_ph/hlh/kpis.jsp -text
WebContent/new_ph/hlh/panel.jsp -text
WebContent/new_ph/hss/kpis.jsp -text
WebContent/new_ph/hss/panel.jsp -text
WebContent/new_ph/long_covid/kpis.jsp -text
WebContent/new_ph/long_covid/panel.jsp -text
WebContent/new_ph/medications/kpis.jsp -text
WebContent/new_ph/medications/panel.jsp -text
WebContent/new_ph/pediatrics_summary/kpis.jsp -text
WebContent/new_ph/pediatrics_summary/panel.jsp -text
WebContent/new_ph/questions.jsp -text
WebContent/new_ph/questions_styled.jsp -text
WebContent/new_ph/reinfection/counts.jsp -text
WebContent/new_ph/reinfection/kpis_1.jsp -text
WebContent/new_ph/reinfection/kpis_2.jsp -text
WebContent/new_ph/reinfection/panel.jsp -text
WebContent/new_ph/reinfection/reinfections.jsp -text
WebContent/new_ph/reinfection/reinfections_by_date.jsp -text
WebContent/new_ph/reinfection_time_series/kpis.jsp -text
WebContent/new_ph/reinfection_time_series/panel.jsp -text
WebContent/new_ph/severity_region/kpis.jsp -text
WebContent/new_ph/severity_region/panel.jsp -text
WebContent/new_ph/smoking/kpis.jsp -text
WebContent/new_ph/smoking/panel.jsp -text
WebContent/new_ph/sotrovimab/kpis.jsp -text
WebContent/new_ph/sotrovimab/panel.jsp -text
WebContent/new_ph/template/kpis.jsp -text
WebContent/new_ph/template/panel.jsp -text
WebContent/new_ph/test_panel.jsp -text
WebContent/new_ph/timeline/cumulative.jsp -text
WebContent/new_ph/timeline/daily.jsp -text
WebContent/new_ph/timeline/kpis_1.jsp -text
WebContent/new_ph/timeline/kpis_2.jsp -text
WebContent/new_ph/timeline/panel.jsp -text
WebContent/new_ph/timeline/positive_cases_by_date.jsp -text
WebContent/positive_timeline.jsp -text
WebContent/public-health.jsp -text
WebContent/recover.jsp -text
WebContent/reinfection_timeline.jsp -text
WebContent/resources/DataTables/css/dataTables.bootstrap.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.min.css -text
WebContent/resources/DataTables/css/dataTables.bulma.css -text
WebContent/resources/DataTables/css/dataTables.bulma.min.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.min.css -text
WebContent/resources/DataTables/css/dataTables.foundation.css -text
WebContent/resources/DataTables/css/dataTables.foundation.min.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.min.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.min.css -text
WebContent/resources/DataTables/css/jquery.dataTables.css -text
WebContent/resources/DataTables/css/jquery.dataTables.min.css -text
WebContent/resources/DataTables/datatables.min.css -text
WebContent/resources/DataTables/datatables.min.js -text
WebContent/resources/DataTables/images/sort_asc.png -text
WebContent/resources/DataTables/images/sort_asc_disabled.png -text
WebContent/resources/DataTables/images/sort_both.png -text
WebContent/resources/DataTables/images/sort_desc.png -text
WebContent/resources/DataTables/images/sort_desc_disabled.png -text
WebContent/resources/DataTables/js/dataTables.bootstrap.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.min.js -text
WebContent/resources/DataTables/js/dataTables.bulma.js -text
WebContent/resources/DataTables/js/dataTables.bulma.min.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.min.js -text
WebContent/resources/DataTables/js/dataTables.foundation.js -text
WebContent/resources/DataTables/js/dataTables.foundation.min.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.min.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.min.js -text
WebContent/resources/DataTables/js/jquery.dataTables.js -text
WebContent/resources/DataTables/js/jquery.dataTables.min.js -text
WebContent/resources/anime.min.js -text
WebContent/resources/auth.js -text
WebContent/resources/bootstrap/.DS_Store -text
WebContent/resources/bootstrap/css/bootstrap-grid.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.css.map -text
WebContent/resources/bootstrap/css/bootstrap-grid.min.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-grid.rtl.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.rtl.css.map -text
WebContent/resources/bootstrap/css/bootstrap-grid.rtl.min.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.rtl.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.min.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.rtl.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.rtl.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.rtl.min.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.rtl.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-utilities.css -text
WebContent/resources/bootstrap/css/bootstrap-utilities.css.map -text
WebContent/resources/bootstrap/css/bootstrap-utilities.min.css -text
WebContent/resources/bootstrap/css/bootstrap-utilities.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-utilities.rtl.css -text
WebContent/resources/bootstrap/css/bootstrap-utilities.rtl.css.map -text
WebContent/resources/bootstrap/css/bootstrap-utilities.rtl.min.css -text
WebContent/resources/bootstrap/css/bootstrap-utilities.rtl.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap.css -text
WebContent/resources/bootstrap/css/bootstrap.css.map -text
WebContent/resources/bootstrap/css/bootstrap.min.css -text
WebContent/resources/bootstrap/css/bootstrap.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap.rtl.css -text
WebContent/resources/bootstrap/css/bootstrap.rtl.css.map -text
WebContent/resources/bootstrap/css/bootstrap.rtl.min.css -text
WebContent/resources/bootstrap/css/bootstrap.rtl.min.css.map -text
WebContent/resources/bootstrap/js/bootstrap.bundle.js -text
WebContent/resources/bootstrap/js/bootstrap.bundle.js.map -text
WebContent/resources/bootstrap/js/bootstrap.bundle.min.js -text
WebContent/resources/bootstrap/js/bootstrap.bundle.min.js.map -text
WebContent/resources/bootstrap/js/bootstrap.esm.js -text
WebContent/resources/bootstrap/js/bootstrap.esm.js.map -text
WebContent/resources/bootstrap/js/bootstrap.esm.min.js -text
WebContent/resources/bootstrap/js/bootstrap.esm.min.js.map -text
WebContent/resources/bootstrap/js/bootstrap.js -text
WebContent/resources/bootstrap/js/bootstrap.js.map -text
WebContent/resources/bootstrap/js/bootstrap.min.js -text
WebContent/resources/bootstrap/js/bootstrap.min.js.map -text
WebContent/resources/d3-tip.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/main_style.css -text
WebContent/resources/n3c_login_style.css -text
WebContent/tables/domain_team_roster.jsp -text
WebContent/tables/project_roster_styled.jsp -text
WebContent/tables/publications_styled.jsp -text
/pom.xml -text
