# we must include the valve spec in the Tomcat configuration for this to work

#
# if we're coming in using the old scheme, app?tab, remap to new scheme and then fall through
#
RewriteCond %{QUERY_STRING} ^([-a-z0-9]+)$
RewriteRule .* /%1

#
# map references to the first version of public-health to the new one and then fall through
#
RewriteRule ^/public-health(.*)$ /new-ph$1

#
# internally map the tab "path" to an argument
#
RewriteRule ^/([-_A-Za-z0-9]+)$ /$1.jsp [L]

RewriteRule ^/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)$ /$1.jsp?secondary_tab=$2 [L]

RewriteRule ^/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)$ /$1.jsp?secondary_tab=$2&tertiary_tab=$3 [L]

RewriteRule ^/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)$ /$1.jsp?secondary_tab=$2&tertiary_tab=$3&quaternary_tab=$4 [L]
